<div class="container">
    <div class="button-container">
        <mat-form-field appearance="fill" style="width:100%;">
            <mat-label>Algorithm</mat-label>
            <mat-select #algorithm [(value)]="selectedAlgorithm" (selectionChange)="doAlgorithmChange($event)">
                <mat-option></mat-option>
                <mat-option [value]="algorithm.value" *ngFor="let algorithm of algorithms">{{ algorithm.viewValue }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="doCalculateHash()" style="width:100%;">Calculate</button>
        <button mat-raised-button (click)="clearResult()" style="width:100%;margin-top:15px;">Clear</button>
    </div>
    <div class="table-container">
        <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
            <mat-label>Source text</mat-label>
            <textarea matInput #sourceText [(ngModel)]="hashSource" (keydown.enter)="doEnterAction($event)" (input)="doChangeAction($event)"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
            <mat-label>Hash value</mat-label>
            <input matInput #hashValue disabled [(ngModel)]="hashResult.value" />
        </mat-form-field>
    </div>
</div>
