<div class="container">
    <mat-card>
        <mat-card-content>
            <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
                <mat-label>Local Date</mat-label>
                <input matInput #childClientDate readonly [(ngModel)]="clientDate" />
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
                <mat-label>Local Time</mat-label>
                <input matInput #childClientTime readonly [(ngModel)]="clientTime" />
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
                <mat-label>UTC</mat-label>
                <input matInput #childUTC readonly [(ngModel)]="clientUTC" />
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
                <mat-label>IP Address</mat-label>
                <input matInput #childIPAddress readonly [(ngModel)]="clientInfo.ipAddress" />
            </mat-form-field>
            <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
                <mat-label>Location</mat-label>
                <input matInput #childLocation readonly [(ngModel)]="clientLocation" />
            </mat-form-field>
        </mat-card-content>
    </mat-card>
    <agm-map [latitude]="latitude" [longitude]="longitude">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    </agm-map>
</div>