<mat-tab-group mat-align-tabs="end" animationDuration="1000ms">
    <mat-tab label="Hash"> <math-hash></math-hash> </mat-tab>
    <mat-tab label="Luhn"> <math-luhn></math-luhn> </mat-tab>
    <mat-tab label="Guid"> <math-guid></math-guid> </mat-tab>
</mat-tab-group>

<div class="bottomtext">
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>A most useful online kit of math tools.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            nettrash
        </figcaption>
    </figure>
</div>
