<div class="container">
    <div class="button-container">
        <button mat-raised-button color="primary" (click)="doBase64Encode()" style="width: 100%;">Encode</button>
        <button mat-raised-button color="warn" (click)="doBase64Decode()" style="width: 100%; margin-top: 15px;">Decode</button>
        <button mat-raised-button (click)="clearResult()" style="width: 100%; margin-top: 15px;">Clear</button>
    </div>
    <div class="table-container">
        <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
            <mat-label>Source</mat-label>
            <textarea matInput #sourceData [(ngModel)]="base64Source"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width:100%;margin-top:10px;height:100%;">
            <mat-label>Result value</mat-label>
            <textarea matInput #base64Value disabled [(ngModel)]="base64Result.value"></textarea>
        </mat-form-field>
    </div>
</div>
