<mat-tab-group mat-align-tabs="end" animationDuration="1000ms">
    <mat-tab label="Base64"> <text-base64></text-base64> </mat-tab>
    <mat-tab label="Url"> <text-url></text-url> </mat-tab>
    <mat-tab label="Hex"> <text-hex></text-hex> </mat-tab>
</mat-tab-group>

<div class="bottomtext">
    <figure class="text-end">
        <blockquote class="blockquote">
            <p>A most useful online kit of text tools.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            nettrash
        </figcaption>
    </figure>
</div>
